<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search</title>
    <link href="static/index1.css" rel="stylesheet">

</head>

<body>
    <div class="movie">
        <h1>SEARCH MOVIE DETAILS</h1>
        <form action="/reviews" method="POST">
            <label for="text" class="lable"> movie title</label><br>
            <input type="text" id="movie" name="movie" placeholder="Enter Movie Name"><br>
            <label for="text" class="lable">movie subtitle</label><br>
            <input type="text" id="movies" name="movies" placeholder="Enter Movie Sub title"><br>
            <input type="submit" class="button">

        </form>
    </div>
</body>

</html>