<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>result</title>
    <link href="static/ind.css" rel="stylesheet">
</head>

<body>
    <h1>RESULTS</h1>
    <!--    <div>-->
    <!--        <table>-->
    <!--            <tr>-->
    <!--                <th>TypeOfSarch</th>-->
    <!--                <th>MovieName</th>-->
    <!--                <th>MovieUrl</th>-->
    <!--                <th>HighestRating</th>-->
    <!--                <th>LowRating</th>-->
    <!--                 <th>AVG rating</th>-->
    <!--                <th>TotalUsers</th>-->
    <!--                <th>MovieGenr</th>-->
    <!--                <th>ReleseDate</th>-->
    <!--                <th>MovieHero</th>-->
    <!--                <th>Villon</th>-->
    <!--                <th>MovieHeroin</th>-->
    <!--                <th>MovieDirector</th>-->
    <!--                <th>MovieDuration</th>-->
    <!--            </tr>-->
    <!--            {% for review in revi %}-->
    <!--            <tr>-->
    <!--                <td>-->
    <!--                    {{review['TypeOfSarch']}}-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    {{review['MovieName']}}-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    {{review['MovieUrl']}}-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    {{review['HighestRating']}}-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    {{review['LowRating']}}-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    {{review['avarageRating']}}-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    {{review['TotalUsers']}}-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    {{review['MovieGenr']}}-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    {{review['ReleseDate']}}-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    {{review['MovieHero']}}-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    {{review['MovieSupport']}}-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    {{review['MovieFemale']}}-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    {{review['MovieDirector']}}-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    {{review['MovieDuration']}}-->
    <!--                </td>-->
    <!--            </tr>-->
    <!--            {% endfor %}-->
    <!--        </table>-->
    <!--    </div>-->
<div>
        <table>
            <tr class="tableColor">
                <th class="tableColor">
                    name
                </th>
                <th >
                    MovieRating
                </th>
                <th>
                    HeadComment
                </th>
                <th>
                    Comment
                </th>
                <th>
                    ReviewDate
                </th>
            </tr>
            {%for i in reviwes%}
            <tr class="tab">
                <td class="table">
                    {{i["name"]}}
                </td>
                <td>
                    {{i["MovieRating"]}}
                </td>
                <td class="table">
                    {{i["HeadComment"]}}
                </td>
                <td>
                    {{i["Comment"]}}
                </td>
                <td class="table">
                    {{i["ReviewDate"]}}

            </tr>
            {% endfor %}

        </table>


    </div>

</body>

</html>